html,body,ul,li,ol,a,input,i,s{
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	font-style: normal !important;
}
body{
	min-width: 1280px;
	min-height: 800px;
	font-size: 12px;
	line-height: 150%;
	font-family: Arial, Verdana, 宋体;
	color: #666;
	background: #fff;	
}
ul,ol{
	list-style: none;
}
li{
	display: list-item;
	/*text-align: -webkit-match-parent;*/
}
img{
	border: none;
	vertical-align: middle;
}
.display{
	display: block !important;
}
.hidden{
	display: none;
}
.bgd-white{
	background: #fff;
}
.active{
	background: #E70808 !important;
}
.bgd-black{
	background: rgba(0,0,0,0.30) !important;
}
#header{
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #f1f1f1;
}
#header .nav{
	background: #f1f1f1;
	width: 1210px;
	height: 30px;
	margin: 0 auto;
}
.nav-left{
	float: left;
}
.nav-right{
	float: right;
}
#header li{
	float: left;
	height: 30px;
}
#header #ttbar-mycity{
	padding-left: 0px;
}
#header li.dropdown{
	z-index: 13;
}
.dropdown{
	position: relative;
}
#ttbar-mycity .dt{
	padding: 0px 25px 0 10px;
}
#header .dt{
	float: left;
}
.cw-icon{
	position: relative;
	cursor: default;
	zoom: 1;
}
.ci-right{
	top: 11px;
	right: 8px;
	height: 7px;
	overflow: hidden;
	font-weight: 400;
	font-size: 15px;
	line-height: 15px;
	font-family: consolas;
	color: #6a6a6a;
	transition: transform .1s ease-in 0s;
	-webkit-transition: transform .1s ease-in 0s;
}
.ci-right-rg{
	right: -16px !important;
}
.cw-icon .i, .cw-icon i{
	display: block;
	position: absolute;
	overflow: hidden;
}
#header .ci-right s{
	position: relative;
	top: -7px;
	text-decoration: none;
}
#header #ttbar-mycity .dd{
	width: 300px;
	padding: 10px 0px 10px 10px;
}
#header .dropdown-layer{
	top: 30px;
	background: #fff;
	border: 1px solid #ddd;
	position: absolute;
	display: none;
	z-index: 10;
}
#ttbar-mycity .dropdown-layer{
	left: -1px;
}
#header .dd{
	line-height: 24px;
}
#header .dd-spacer{
	position: absolute;
	top: -5px;
	height: 8px;
	background: rgb(255,255,255);
}
#ttbar-mycity .dd-spacer{
	left: 0px;
	width: 98px;
}
#header #ttbar-mycity .item{
	width: 60px;
	padding: 2px 0;
	float: left;
}
.item a{
	float: left;
	padding: 0 8px;
	color: #666;
}
.selected{
	background: #c81623;
	color: #fff !important;
}
.hover{
	background: #ddd;
	color: #c81623 !important;
}
.li-style-trans{
	background: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.li-style-recover{
	background: #f1f1f1;
	border:	none; 
}
.right-ul li.spacer{
	width: 1px;
	height: 12px;
	margin-top: 9px;
	padding: 0px;
	background: #ddd;
	overflow: hidden;
}
.nav-right a{
	color: #666;
}
.nav-right a:hover{
	color: #e60012;
}
.nav-right-li{
	padding: 0 8px;
}
.dropdown-right{
	width: 81px;
	box-sizing: border-box;
	padding-right: 23px;
}
.spacer{
	float: left;
}

#ttbar-myjd .dd-spacer{
	left: -9px;
	width: 79px;
	z-index: 10;
}
#ttbar-apps .dd-spacer{
	left: -9px;
	width: 79px;
	z-index: 10;	
}
#ttbar-atte .dd-spacer{
	left: -9px;
	width: 79px;
	z-index: 10;
}
#ttbar-serv .dd-spacer{
	left: -9px;
	width: 79px;
	z-index: 10;
}
#ttbar-navs .dd-spacer{
	right: 0px;
	width: 79px;
}
.dd-atteJD{
	width: 79px;
	height: 93px;	
	background: url("../images/atteJD.png") no-repeat;
	background-origin: content-box;
}
.right-show{
	position: absolute;
	border: 1px solid #ddd;
	left: -10px;
	top: -2px;
	background: #fff;
}
#header #ttbar-serv .dd{
	width: 170px;	
}
#ttbar-serv .items{
	overflow: hidden;
}
#ttbar-serv .item-client,.item-business{
	padding-top: 2px; 
	padding-left: 10px;
	font-weight: bold;
	font-size: 14px;
}
#ttbar-serv .item{
	padding-left: 10px;
	height: 25px;
}
#ttbar-serv .item-business{	
	border-top: 1px solid #ddd;
}
#header #ttbar-navs .dd{	
	width: 1210px;
	right: 106px;	
}
#ttbar-navs .fore1{
	width: 350px;
	border-left: none;
}
#ttbar-navs dl{
	float: left;
	padding-left: 5px;
	overflow: hidden;
	border-left: 1px solid #ddd;
	margin-bottom: 20px;
	margin-top: 10px;
}
#ttbar-navs dt{
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 6px;
	margin-top: 5px;
	padding-left: 8px;
}
#header #ttbar-navs .item{
	float: left;
	width: 86px;	
}
#ttbar-navs .fore2{
	width: 280px;
}
#top-banner{
	width: 100%;
	height: 80px;
	position: relative;
	margin: 0px auto 0px;
	background-color: #1687ff;
}
#shutdown{
	position: absolute;
	width: 19px;
	height: 19px;
	background: url("../images/5507956eN735de046.png") 0px 0px no-repeat;
	top: 6px;
	right: 130px;
}
#shutdown:hover{
	background: url("../images/5507956eN735de046.png") 0px -19px no-repeat;
}
.show-images{
	width: 1210px;
	margin: 0px auto;
	overflow: hidden;
	display: block;
}
#select{
	width: 1210px;
	height: 120px;
	overflow: hidden;
}
.w{
	margin: 0px auto;
}
#logo-jd{
	position: relative;
	width: 362px;
	height: 60px;
	padding: 20px 0px;
	float: left;
}
#logo-jd .logo{
	background: url("../images/logo.png") 0px 0px no-repeat;
	width: 270px;
	height: 60px;
	display: block;
}
#search{
	float: left;
	width: 540px;
	margin-top: 20px;
	position: relative;
}
#search .search-input{
	width: 400px;
	height: 36px;
	float: left;
}
#search input{
	outline: 0;
	width: 400px;
	height: 24px;
	line-height: 24px;
	padding: 4px;
	margin-bottom: 4px;
	border-width: 2px 0px 2px 2px;
	border-color: #b61d1d;
	border-style: solid;
	font-size: 14px;
	font-family: "microsoft yahei";
	cursor: auto;
}
#search .search-btn{
	float: left;
	width: 82px;
	height: 36px;
	background: #b61d1d;
	border: none;
	color: #fff;
	font-family: "microsoft yahei";
	font-size: 16px;
	cursor: pointer;
}
#search #sheple{
	display: none;
	width: 400px;
	position: fixed;
	border: 1px solid #ddd;
	top: 166px;
	overflow: hidden;
}
#sheple li{
	width: inherit;
	height: 20px;
	background: #fff;
	font-size: 14px;
	/*font-weight: bold;*/
}
 #sheple li:hover{
 	background: rgb(255,223,198);
 	cursor: pointer;
 }
 #sheple hr{
 	background: #ddd;
 }
 #sheple li #close{
 	width: inherit;
 	height: inherit;
 	font-size: 14px;
 	float: right;
 }
#cart{
	width: 142px;
	float: right;
	margin-top: 20px;
	position: relative;
	margin-right: 100px;
}
.shop-cart{
	width: 140px;
	height: 34px;
	border: 1px solid #dfdfdf;
	background: #f9f9f9;
	position: relative;
}
#cart .shop-cart i{
	position: absolute;
	display: block;
	overflow: hidden;	
}
#cart .cart-logo{
	background: url("../images/jd2015img.png") 0px -58px no-repeat;
	top: 8px;
	left: 6px;
	width: 18px;
	height: 16px;
}
#cart .cart-right{
	top: 8px;
	right: 20px;
	width: 10px;
	height: 15px;
	font-weight: bolder;
}
#cart .shop-num{
	left: 88px;
	color: #fff;
	background: #b61d1d;
	display: inline-block;
	min-width: 12px;
	font-size: 12px;
	line-height: 12px;
	padding: 1px 2px;
	border-radius: 7px 7px 7px 0px;
	text-align: center;
}
#cart .cart-link{
	top: 8px;
	left: 30px;
}
#cart .cart-spacer{
	position: absolute;
	top: 30px;
	left: 1px;
	width: 140px;
	height: 10px;
	background-color: #f9f9f9;
	display: none;
}
#cart .cart-content{
	width: 330px;
	height: 60px;
	border: 1px solid #dfdfdf;
	background: #f9f9f9;
	z-index: 10;
	float: right;
	display: none;
}
#select a:hover{
	color: #e60012;
}
.hotwords{
	float: left;
	height: 20px;
	margin-top: 10px;
}
.hotwords .hot-item{
	float: left;
	margin-right: 10px;
}
#shop-nav{
	height: inherit;
	height: 44px;
	border-bottom: 2px solid #b1191a;
}
#main-nav{
	width: inherit;
	font-family: "microsoft yahei";
}
#main-nav .w{
	width: 1210px;
}
.shop-sort{
	width: 210px;
	height: 44px;	
	float: left;
	z-index: 12;
	position: relative;
}
.all-shop-sort{
	height: 44px;
	background: #b1191a;
}
.all-shop-sort a{
	color: #fff;
	font-size: 10px;
}
.all-shop-sort .dt a{
	padding-left: 10px;
}
.all-shop-sort .dt{
	padding-top: 13px;
	padding-bottom: 11px; 
}
.shop-sort .dd{
	width: 210px;
	background: #cc0e0e;
}
.dd .basic-shop-item{
	padding: 7px 0px 7px 10px;
}
.dd ul{
	padding: 7px 0px; 
}
.basic-shop-item a{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
.divid-line{
	color: #fff;
}
.nav-ul{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.nav-ul .sort-ul{
	margin: 5px 0px;
	float: left;
}
.sort-ul .sort-item{
	float: left;
	margin: 0px 15px;
}
.sort-item,.dt a{
	font-size: 17px;
}
.basic-shop-item a:hover,.sort-item a:hover{
	color: #e60012 !important;
}
.font-col{
	color: #1a1a1a !important;
	text-decoration: none;
}
.shop-show{
	position: absolute;
	width: 900px;
	height: 490px;
	top: 46px;
	left: 210px;
	border: 1px solid #f7f7f7;
	background-color: #f7f7f7;
	display: none;
	z-index: 12;
}
.overview,.shop-dl{
	margin-left: 20px;
	margin-top: 10px;
}
.overview .overview-link{
	margin: 0px 5px;
	padding: 5px;
	width: 20px;
	height: 50px;
	background: #808080;
	font-size: 13px;
	color: #fff;
}
.overview a:hover{
	background: #666666 !important;	
}
.shop-dl dt{
	float: left;
}
.shop-dl a{
	font-size: 14px;
	color: black;
	margin-right: 10px; 
}
#mid{
	min-width: 1210px;
	min-height: 490px;
}
#mid .bet{
	width: 1210px;
	height: 490px;
	margin: 0px auto;
	overflow: hidden;
	border: 1px solid;
}
#mid .pic{
	width: 790px;
	height: 490px;
	float: right;
	margin-left: 10px;
	background-color: #C4C1B2;
}
.pic-slide{
	width: 790px;
	height: 340px;
	margin-bottom: 10px;
	position: relative; 
}
.pic-slide .slide-item{
	position: absolute;
	width: 790px;
	height: 340px;
	display: none;
}
.pic-slide .carousel-index{
	position: absolute;
	background: rgba(255,255,255,0.20);
	bottom: 25px;
	left: 300px;
	overflow: hidden;
	border-radius: 10px;
	text-align: center;
}
.carousel-index li{
	float: left;
	width: 20px;
	height: 20px;
	color: #fff;
	background: #666666;
	border-radius: 50%;
	display: block;
	margin: 0px 5px;
	font-size: 8px;
	text-align: center;
	cursor: pointer;
}
.pic-slide .moveBtn{
	display: block;
	position: absolute;
	width: 50px;
	height: 70px;
	background: rgba(255,255,255,0.15);
	text-align: center;
	cursor: pointer;
	line-height: 70px;
	top: 40%;
	font-size: 26px;
	color: #fff;
}
.rt{
	right: 0px;
}
.lf{
	left: 0px;
}
.pic-show{
	width: 790px;
	height: 140px;
	background-color: #90A4F7; 
}
#mid .right-nav{
	width: 190px;
	height: 490px;
	float: right;
	background-color: #A7F1B6;
	margin-left: 10px;
}
